<p id="notice"><%= notice %></p>

<h1>Gioi Tinhs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Enabled</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gioi_tinhs.each do |gioi_tinh| %>
      <tr>
        <td><%= gioi_tinh.name %></td>
        <td><%= gioi_tinh.enabled %></td>
        <td><%= gioi_tinh.description %></td>
        <td><%= link_to 'Show', gioi_tinh %></td>
        <td><%= link_to 'Edit', edit_gioi_tinh_path(gioi_tinh) %></td>
        <td><%= link_to 'Destroy', gioi_tinh, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gioi Tinh', new_gioi_tinh_path %>
