<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trinh_do_boi_duong.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trinh_do_boi_duong.description %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @trinh_do_boi_duong.enabled %>
</p>

<%= link_to 'Edit', edit_trinh_do_boi_duong_path(@trinh_do_boi_duong) %> |
<%= link_to 'Back', trinh_do_boi_duongs_path %>
