<%= form_with(model: ra_khoi_dang, local: true) do |form| %>
  <% if ra_khoi_dang.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ra_khoi_dang.errors.count, "error") %> prohibited this ra_khoi_dang from being saved:</h2>

      <ul>
        <% ra_khoi_dang.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :enabled %>
    <%= form.check_box :enabled %>
  </div>

  <div class="field">
    <%= form.label :ngay_ra_khoi_dang %>
    <%= form.date_select :ngay_ra_khoi_dang %>
  </div>

  <div class="field">
    <%= form.label :hinh_thuc_ra_khoi_dang %>
    <%= form.text_field :hinh_thuc_ra_khoi_dang %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
