<p id="notice"><%= notice %></p>

<h1>Trinh Do Ly Luans</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Enabled</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trinh_do_ly_luans.each do |trinh_do_ly_luan| %>
      <tr>
        <td><%= trinh_do_ly_luan.name %></td>
        <td><%= trinh_do_ly_luan.enabled %></td>
        <td><%= trinh_do_ly_luan.description %></td>
        <td><%= link_to 'Show', trinh_do_ly_luan %></td>
        <td><%= link_to 'Edit', edit_trinh_do_ly_luan_path(trinh_do_ly_luan) %></td>
        <td><%= link_to 'Destroy', trinh_do_ly_luan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trinh Do Ly Luan', new_trinh_do_ly_luan_path %>
