<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trinh_do_ly_luan.name %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @trinh_do_ly_luan.enabled %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trinh_do_ly_luan.description %>
</p>

<%= link_to 'Edit', edit_trinh_do_ly_luan_path(@trinh_do_ly_luan) %> |
<%= link_to 'Back', trinh_do_ly_luans_path %>
