<p id="notice"><%= notice %></p>

<h1>Nghe Nghieps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nghe_nghieps.each do |nghe_nghiep| %>
      <tr>
        <td><%= nghe_nghiep.name %></td>
        <td><%= nghe_nghiep.description %></td>
        <td><%= link_to 'Show', nghe_nghiep %></td>
        <td><%= link_to 'Edit', edit_nghe_nghiep_path(nghe_nghiep) %></td>
        <td><%= link_to 'Destroy', nghe_nghiep, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nghe Nghiep', new_nghe_nghiep_path %>
