<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @nghe_nghiep.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @nghe_nghiep.description %>
</p>

<%= link_to 'Edit', edit_nghe_nghiep_path(@nghe_nghiep) %> |
<%= link_to 'Back', nghe_nghieps_path %>
