<p id="notice"><%= notice %></p>

<h1>Dan Tocs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Enabled</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dan_tocs.each do |dan_toc| %>
      <tr>
        <td><%= dan_toc.name %></td>
        <td><%= dan_toc.enabled %></td>
        <td><%= dan_toc.description %></td>
        <td><%= link_to 'Show', dan_toc %></td>
        <td><%= link_to 'Edit', edit_dan_toc_path(dan_toc) %></td>
        <td><%= link_to 'Destroy', dan_toc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dan Toc', new_dan_toc_path %>
