<%= form_with(model: chuyen_tu_dang_bo_khac_den, local: true) do |form| %>
  <% if chuyen_tu_dang_bo_khac_den.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(chuyen_tu_dang_bo_khac_den.errors.count, "error") %> prohibited this chuyen_tu_dang_bo_khac_den from being saved:</h2>

      <ul>
        <% chuyen_tu_dang_bo_khac_den.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :ngay_chuyen_den %>
    <%= form.date_select :ngay_chuyen_den %>
  </div>

  <div class="field">
    <%= form.label :enabled %>
    <%= form.check_box :enabled %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
