<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @boi_duong_nvcsgt.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @boi_duong_nvcsgt.description %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @boi_duong_nvcsgt.enabled %>
</p>

<%= link_to 'Edit', edit_boi_duong_nvcsgt_path(@boi_duong_nvcsgt) %> |
<%= link_to 'Back', boi_duong_nvcsgts_path %>
