<%= form_with(model: dang_vien, local: true) do |form| %>
  <% if dang_vien.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dang_vien.errors.count, "error") %> prohibited this dang_vien from being saved:</h2>

      <ul>
        <% dang_vien.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :so_the_dang %>
    <%= form.number_field :so_the_dang %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :enabled %>
    <%= form.check_box :enabled %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
