<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @nghe_nghiep_truoc_khi_vao_dang.name %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @nghe_nghiep_truoc_khi_vao_dang.enabled %>
</p>

<p>
  <strong>Description:</strong>
  <%= @nghe_nghiep_truoc_khi_vao_dang.description %>
</p>

<%= link_to 'Edit', edit_nghe_nghiep_truoc_khi_vao_dang_path(@nghe_nghiep_truoc_khi_vao_dang) %> |
<%= link_to 'Back', nghe_nghiep_truoc_khi_vao_dangs_path %>
