<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @boi_duong_quy_hoach_cho_chuc_danh.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @boi_duong_quy_hoach_cho_chuc_danh.description %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @boi_duong_quy_hoach_cho_chuc_danh.enabled %>
</p>

<%= link_to 'Edit', edit_boi_duong_quy_hoach_cho_chuc_danh_path(@boi_duong_quy_hoach_cho_chuc_danh) %> |
<%= link_to 'Back', boi_duong_quy_hoach_cho_chuc_danhs_path %>
