<p id="notice"><%= notice %></p>

<p>
  <strong>Họ và Tên:</strong>
  <%= @can_bo.name %>
</p>

<p>
  <strong>Ngày Sinh:</strong>
  <%= @can_bo.date_of_birth %>
</p>

<p>
  <strong>Quê Quán:</strong>
  <%= @can_bo.que_quan&.name %>
</p>

<p>
  <strong>Cấp Bậc:</strong>
  <%= @can_bo.cap_bac&.name %>
</p>

<p>
  <strong>Chức Vụ:</strong>
  <%= @can_bo.chuc_vu&.name %>
</p>

<p>
  <strong>Chức Danh:</strong>
  <%= @can_bo.chuc_danh&.name %>
</p>

<p>
  <strong>Số Quyết Định:</strong>
  <%= @can_bo.bo_nhiems.first&.so_quyet_dinh %>
</p>

<p>
  <strong>Ngày Cấp:</strong>
  <%= @can_bo.bo_nhiems.first&.ngay_cap %>
</p>

<%= link_to 'Edit', edit_can_bo_path(@can_bo) %> |
<%= link_to 'Back', can_bos_path %>
